{% extends "base.html" %}

{% block content %}

<style>
    form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom:
            5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius:
            3px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color:
            #0069d9;
    }

    /* Error message styling */
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    h1 {
        text-align: center;
    }
</style>

<h1>Registre-se</h1>


<form method="POST">
    {% csrf_token %}

    <div class=" form-group">
        {{ user_form.username.errors }}
        <label for="username">Usuário</label>
        {{ user_form.username }}
    </div>

    <!-- <div class="form-group">
        {{ user_form.email.errors }}
        <label for="email">Email</label>
        {{ user_form.email }}
    </div> -->

    <div class="form-group">
        {{ user_form.password1.errors }}
        <label for="password">Senha</label>
        {{ user_form.password1 }}
    </div>

    <div class="form-group">
        {{ user_form.password2.errors }}
        <label for="password">Confirme a senha</label>
        {{ user_form.password2 }}
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn-btn-primary">
    </div>
</form>


{% endblock %}